<% include ../partials/header.ejs%>
<h1>
    This is the Index Page
</h1>
<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-lg-4 col-sm-6">
            <a href="/">
                <div class="img-thumbnail">
                    <img class="img-fluid" alt="Responsive image" src="https://images.unsplash.com/photo-1509587584298-0f3b3a3a1797?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5737b0c585c132a5e41bad3c41785fb4&auto=format&fit=crop&w=657&q=80">
                    <div class="caption">
                        <h6>Cup and a cactus</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/">
                <div class="img-thumbnail">
                    <img class="img-fluid" alt="Responsive image" src="https://images.unsplash.com/photo-1496048977749-6c44d362880c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=654c5b5607e086a2763c05ce3e66e963&auto=format&fit=crop&w=500&q=60">
                    <div class="caption">
                        <h6>Dining Table</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/">
                <div class="img-thumbnail ">
                    <img  class="img-fluid" alt="Responsive image" src="https://images.unsplash.com/uploads/1411901100260f56b39b9/ab70b250?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea26a6d3ea05e99d9cd4f686daf4cb6f&auto=format&fit=crop&w=500&q=60">
                    <div class="caption">
                        <h6>Peanut butter and jams</h6>
                    </div>
                </div></a>
            <a href="/">
                <div class="img-thumbnail">
                    <img  class="img-fluid" alt="Responsive image" src="https://images.unsplash.com/photo-1499096382193-ebb232527fee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b9a42d0421154c7f10874e6b56484336&auto=format&fit=crop&w=500&q=60">
                    <div class="caption">
                        <h6>Peanut butter and jams</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>